@import "../../global.scss";

.helpSec{
    padding: 50px 0;
    .helpSecInner{
        padding: 16px;
        .helpRow{
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            .label{
                font-size: 12px;
                width: 100px;
                font-weight: 600;
            }
            .value{
                font-size: 16px;
                font-weight: 600;
                color: $base-color;
            }
        }
    }
}